.data {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 90%;
}

.numerical-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.numerical {
    font-size: 1.8vw;
}

.my-canvas {
    width: 35vw !important;
    height: 35vw !important;
}

.title {
    font-size: 5vw;
}