.main-div {
    background: #4A4C61;
    min-height: 100vh
}

/* Navbar items styling */
.nav {
    background: #B5C6CC;
    height: 65px;
}

.logo {
    height: 45px;
    padding-right: 3vw;
}

.nav-div {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.test {
    align-self: center;
}

.nav-text {
    padding-right: 3vw;
    color: #4A4C61 !important;
    font-size: 25px;
}

.separator-bar {
    width: 100%;
    background: #5CBDAA;
    height: 5px;
}

.nav-padding {
    padding-left: 10px;
    padding-top: 10px;
}

/* Body styling */
.title {
    color: #E5836A;
}

.body {
    background: white;
    border-radius: 25px;
    width: 90%;
    height: 700px;
    margin-top: 20px;
    margin-left: 5%;
    padding-top: 10px;
}

.spacer {
    height: 20px;
}

.subtext {
    color: #4A4C61;
}


/* users div stylng */
.usersDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.thumbnail-image {
    width: 140px;
    border-radius: 25px;
}

.thumbnail-text {
    font-size: 15px;
    color: #4A4C61;
}

.thumbnail {
    padding-top: 2px;
    width: 160px;
    height: 200px;
    text-align: center;
    border: solid;
    border-color: #4A4C61;
    border-radius: 5px;
    box-shadow: 6px 6px 5px grey;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.user-text-div {
    width: 100%;
    background: white;
    padding-left: 5px;
    padding-right: 5px;
    min-height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.thumbnail-new {
    background-image: url("https://i.imgur.com/B8hiviv.png");
    padding-top: 2px;
    width: 160px;
    height: 200px;
    text-align: center;
    border: solid;
    border-color: #4A4C61;
    border-radius: 5px;
    box-shadow: 6px 6px 5px grey;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.user-div-alignment {
    min-height: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

